* {
    border-width: 2px;
    border-style: hidden;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*border-color: black;*/
}


#Body {
    height: 100vh;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 
}

#Title{

    padding-bottom: 10vh;
    color:rgb(207, 208, 218);
}


#Content {
    height: 75vh;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    width : 100%;
}
/* Cool dark blue text blurbs */
#text{
    background-color: #10101e3a;
    opacity: 100%;
    max-width: 70%;
    min-width: 30%;
    border-style:  solid;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}

/* Devices smaller than 600 horizontal pixels*/
@media only screen and (max-width: 600px) {
    #text{

        max-width: 90%;
    }
    #Title{
       
    }
    
}

a {
    background: url('../static/link.png') no-repeat 100% ;
    background-size: 24px 22px;
    padding-right: 24px;
    
  }

.paragraph {
    font-size: medium;
    color: white;
    opacity: 100%;
    margin: 3%;

}

.tab{
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
}



.background--custom {
    background: linear-gradient(45deg,  #000303a8 ,#000e34ce);
    background-size: 200% 200%;
    animation: gradient 40s alternate infinite;
    position: sticky;
    overflow-y: scroll;
    top: 0;
    left: 0;
    opacity: 100%;
    height: 100vh;
    transform: translateZ(0);

}

@keyframes gradient {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

#Bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.BottomLink{
    
    
    opacity: 90%;
    border-radius: 2px;
    text-align: left;
    color: aliceblue;
    
}