* {
    border-width: 2px;
    border-style: hidden;
    /*border-color: black;*/
}

#Body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#Content {
    height: 95vh;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}

#text{
    align-self: flex-start;
    background-color: #6969759f;
    opacity: 70%;
}

#Bottom {
    border-style: hidden;
}

.paragraph {
    font-size: medium;
    color: white;
    opacity: 100%;
    margin: 3%;
}

.tab{
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
}

.background--custom {
    background: linear-gradient(10deg, #02664fa8, #001b65ce, #02664fa8);
    background-size: 300% 300%;
    animation: gradient 20s alternate infinite;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 95%;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}