*{
    border-width: 2px;
    border-color: red;
    border-style: solid;
}

body{
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: wheat;
    justify-content:space-between;
    align-items: center;
}   

#Bottom{
    background-color: aqua;
}
